@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
.navigation .dangnhap{
  width:130px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 550;
  margin-left: 40px;
  transition: .5s;
  text-align: center;
  padding-top: 9px;
  text-decoration: none;
  margin-right: -80px;
}
.navigation .ac{
  position:relative;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-weight: 550;
  margin-left: 40px;
}
.navigation .dangnhap:hover{
  background-color: black;
  color: #fff;
}
.navigation .ac::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation .ac:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.navigation{
  top:0;
  left:0;
  width:100%;
  padding:20px 100px;
  justify-content:space-between;
  display: flex;
  align-items: center;
  z-index: 99;
  background-color: #F5F6F6;
}
.logo{
  width: 140px;
  height: 50px;
  margin-left: -80px;
  margin-top: -10px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;   
  background-color: #F5F6F6;
  width: 1263px;
  height: 230px;
}
.ttcd{
  font-weight: bolder;
  color: black;
  padding-bottom: 30px;
}
.ttcdntht{
  font-weight: bolder;
  color: black;
  padding-bottom: 30px;
  padding-top: 25px;
}
.tt{
  color: grey;
  margin-top: 5px;
}
.footer1{
  text-align: center;
}
.ntht{
  max-width: 200px;
  height: auto;
  margin-top: -30px;
}
.container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
  padding-bottom:40px;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}
