*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body{
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
  }
.logo{
  width: 140px;
  height: 50px;
  margin-left: -80px;
  margin-top: -10px;
}
.navigation .ac{
  position:relative;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-weight: 550;
  margin-left: 40px;
}
.navigation .ac::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation .ac:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.navigation{
  top:0;
  left:0;
  width:100%;
  padding:20px 100px;
  justify-content:space-between;
  display: flex;
  align-items: center;
  z-index: 99;
  background-color: #F5F6F6;
}
.navigation .dangnhap{
  width:130px;
  height: 50px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 550;
  margin-left: 40px;
  transition: .5s;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  margin-right: -80px;
}
.navigation .dangnhap:hover{
  background-color: black;
  color: #fff;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;   
  background-color: #F5F6F6;
  width: 1263px;
  height: 230px;
}
.ttcd{
  font-weight: bolder;
  color: black;
  padding-bottom: 30px;
}
.ttcdntht{
  font-weight: bolder;
  color: black;
  padding-bottom: 30px;
  padding-top: 25px;
}
.tt{
  color: grey;
  margin-top: 5px;
}
.footer1{
  text-align: center;
}
.ntht{
  max-width: 200px;
  height: auto;
  margin-top: -30px;
}
.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.wrap {
  width: 200px;
  margin: 2rem;
  transform-style: preserve-3d;
  transform: perspective(100rem);
  cursor: pointer;
}
.item {
  --rX: 0deg;
  --rY: 0deg;
  --bX: 50%;
  --bY: 80%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  transform: rotateX(var(--rX)) rotateY(var(--rY));
  transition: 0.2s;
  padding: 20px;
  box-shadow: 0 30px 20px #5555;
}
.item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 30px 20px #5559;
  z-index: -1;
}
.tengame{
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: larger;
}